In [1]:
import pandas as pd
path = '/home/git/PycharmProjects/github/jupyter/data/repayment_trend.csv'
data = pd.read_csv(path)

In [14]:

d = data.where(data.sale_order_id=='600007438', other=0)[0:9]

,sale_order_id,kunnr,data_update_date,ar01,zdhk01,ar02,zdhk02,ar03,zdhk03,ar04,...,ar08,zdhk08,ar09,zdhk09,ar10,zdhk10,ar11,zdhk11,ar12,zdhk12
0,600007438,1000000,20170101,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
1,600007438,1000000,20170201,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
2,600007438,1000000,20170301,15,15,15,15,15,15,15,...,15,587919,15,6015,15,15,15,15,15,15
3,600007438,1000000,20170401,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
4,600007438,1000000,20170501,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
5,600007438,1000000,20170601,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
6,600007438,1000000,20170701,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
7,600007438,1000000,20170801,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
8,600007438,1000000,20170901,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15

In [25]:
d

,sale_order_id,kunnr,data_update_date,ar01,zdhk01,ar02,zdhk02,ar03,zdhk03,ar04,...,ar08,zdhk08,ar09,zdhk09,ar10,zdhk10,ar11,zdhk11,ar12,zdhk12
0,600007438,1000000,20170101,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
1,600007438,1000000,20170201,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
2,600007438,1000000,20170301,15,15,15,15,15,15,15,...,15,587919,15,6015,15,15,15,15,15,15
3,600007438,1000000,20170401,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
4,600007438,1000000,20170501,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
5,600007438,1000000,20170601,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
6,600007438,1000000,20170701,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
7,600007438,1000000,20170801,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
8,600007438,1000000,20170901,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15

In [26]:
dd = pd.array()

AttributeError: 'module' object has no attribute 'array'